*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}
.container{
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
}
.logo {
	float: left;
	max-width: 250px;
}
.navbar{
	float: left;
	width: 62%;
	text-align: center;
	padding: 20px 0;
}
.navbar ul li{
	display: inline-block;
	margin-right: 30px;
	padding: 15px auto;
}
.navbar ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;
	color: #5f5f5f;	
}
.navbar-icon{
	width: 15%;
	display: inline-block;
	text-align: center;
	padding: 20px 0px;
	color: #eb1f2d;
}
.navbar-icon img {
	margin: 0 15px;
}
.hero-banner {
	display: flex;
	background-image: url(../images/banner.jpg);
	width: 100%;
	height: 750px;
	background-size: cover;
	text-align: center;
	justify-content: center;
}
.banner-heading h1 {
	text-align: center;
	margin: 60% auto 0;
	font-size: 50px;
	font-weight: 500;	 
}
.banner-heading h4 {
	font-size: 18px;
	font-weight: 400;	 
}
.banner-heading p {
	margin-top: 20px;
	font-size: 18px;
	font-size: 12px;
	width: 450px;
	opacity: 60%;		
}
.hero-end {
	 margin-top: 50px;
}
.hero-red-btn {
	background-color: #eb1f2d;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
}
.hero-btn {
	background-color: transparent;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border: 2px solid black;
	border-radius: 5px;
}
.blog {
	padding:  50px;
	width: 100%;
	display: flex;
	text-align: left;
}
.blog-content {
	width: 50%;
}
.blog-img {
	width: 50%;
}
.blog-img img{
	max-width:800px;
	width: 100%;
	height: 100%;
}
.blog-content {
	width: 50%;
	margin-left: 50px;
	display: block;
	max-width: 600px;
}
.blog-content h4{
	font-size: 18px;
	font-weight:400;
	text-transform: uppercase;
}
.blog-content h1{
	font-size: 35px;
	font-weight: 500;
}
.blog-content p{
	opacity: 60%;
}
.blog-btn {
	margin: 40px auto;
	text-transform: uppercase;
	display: inline-flex;
}

.form-section form {
    max-width: 700px;
    justify-content: center;
    margin: auto;
}
.form-section {
	width: 100%;
	text-align: center;
	justify-content: center;
	display: flex;
}
.form-img {
	background-image: url(../images/form-image.jpg);
	width: 50%;
	text-align: center;
	align-items: center;
	color: white;
	background-size: 100%;
}
.form-content {
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
}
.form-img h1 {
	padding:115px 0 20px 0;
	width: 50%;
	margin: auto;
}
.form-img hr {
	width: 50%;
	margin: 0 auto;
}
.form-img h4 {
	padding: 20px;
	font-size: 25px;
	font-weight: 100;
}
.form-img p {
	width: 70%;
	margin: auto;
	opacity: 70%;
}
.form {
	background-color: #eb1f2d;
	width: 50%;
	padding: 30px;
}
.form input[type=text] {
	border-radius: 10px;
	color: black;
	margin: 10px;
	padding: 13px;
	font-size: 14px;
	width: 45%;
	border: none;
}
.form input[type=email], form textarea  {
	width: 93%;
	border-radius: 10px;
	color: black;
	margin: 12px auto;
	padding: 13px;
	font-size: 14px;
	resize: none;
	border: none;
}
.form input[type=submit] {
	background-color: transparent;
	border: none;
	color: white;
	padding: 11px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border: 2px solid white;
	border-radius: 5px;
	float: right;
	margin-right: 15px;
}
footer {
	margin: 100px;
	display: flex;
	width: 100%;
}
.left-part {
	display: flex;
	width: 50%;
}
.menus p {
	color: #ec1f2e;
	font-size: 15px;
	text-transform: uppercase;
}
.menus {
	margin-right: 60px;
	width: 100%;
	text-align: center;
}
.menus ul li {
	font-family: 'Roboto', sans-serif;
	padding: 10px;
	list-style: none;
}
.menus ul li a{
	color:  #333333;
	font-size: 13px;
	opacity: 80%;
	text-decoration: none;
}
.right-part {
	width: 50%;
	justify-content: center;
	margin: auto;
	font-family: 'Roboto', sans-serif;
}
.right-part h1{
	font-size: 18px;
}
.right-part p{
	margin-top: 20px;
	font-size: 14px;
	color: #333333;
}
.footer-form {
	margin: 30px 0;
}
.footer-form input[type=email] {
	color: #b3b3b3;
	width: 60%;
	padding: 10px;
	border: 1px solid #b3b3b3;
	border-radius: 5px;
}
.footer-form input[type=submit] {
	color: white;
	background-color: black;
	font-size: 15px;
	border-radius: 5px;
	padding: 10px;
	margin-left: 10px;
}
.footer-icons {
	margin-top: 15px;
}
.footer-form i {
	padding: 10px;
}
.footer-icons a{
	color: black
}

@media only screen and (min-width: 1024px) {
	.navbar ul li {
		margin-right: 26px;
	}
	footer {
		margin: 50px;
	}
	.left-part {
		margin-left: 50px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.navbar {
		width: 58%;
		word-spacing: -2px;
	}
	.navbar ul li a {
		font-size: 18px;
	}
	.navbar ul li {
		margin-right: 12px;
	}
	.logo img {
		max-width: 200px;
		object-fit: cover;
	}
	.navbar-icon {
		padding: 15px 0;
		width: 14%;
	}
	.blog {
		padding: 50px 25px;
	}
	.blog-content {
		margin-left: 25px;
	}
	.form-img h1 {
		width: 85%;
	}
	.form-img p {
		width: 90%;
	}
	.form-img hr {
		width: 80%;
	}
	.form input[type=text] {
		margin: 7px;
	}
	footer {
		 margin: 50px 25px;
	}
	.menus ul li {
		padding:  5px;
	}
	.navbar-icon img {
		margin: 0 0 0 10px;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.blog {
		display: block;
	}
	.blog-img, .blog-content {
		width: 100%;
		justify-content: center;
		text-align: center;
		margin: 0;
	}
	.form-section {
		display: block;
	}
	.form-img {
		width: 100%;
	}
	.form {
		width: 100%;
		height: 450px;
	}
	.form-img h1 {
		width: 85%;
	}
	.form-img p {
		width: 90%;
	}
	.form-img hr {
		width: 80%;
	}
	.form input[type=text] {
		margin: 7px;
	}
	footer {
		display: block;
		margin: 0;
	}
	.left-part {
		width: 100%;
	}
	.right-part {
		width: 100%;
		text-align: center;
	}
}
